.tech__btn[state="none"] {
  & .tech__emb--minus {
    display: none;
  }
}

.tech__btn[state="active"] {
  & .tech__emb--plus {
    display: none;
  }

  & .tech__emb--minus {
    display: flex;
  }
}

.tech__accordion, .qa__accordion {
  transition: height 0.3s ease;
}

.qa__arrow {
  transition: transform 0.3s ease;
}

.qa__text-wrap[state="active"] {
  & .qa__arrow {
    transform: rotate(-90deg);
  }
}
