.tech__wrap {
  &:hover {
    .tech__subtitle {
      border-color: white;
    }
  }

  &[state="none"] {
    & .tech__minus {
      display: none;
    }
  }

  &[state="active"] {
    & .tech__plus {
      display: none;
    }

    & .tech__minus {
      display: block;
    }
  }
}


.tech__accordion, .qa__accordion {
  transition: height 0.2s ease;
}

.qa__arrow {
  transition: transform 0.2s ease;
}

.qa__text-wrap[state="active"] {
  & .qa__arrow {
    transform: rotate(-90deg);
  }
}

.tech__item:last-child {
  border-color: transparent;

  & .tech__accordion .acc {
    padding-bottom: 0;
  }

  // & .tech__wrap {
  //   margin-bottom: 0;
  // }
}
