.tech__btn[state="none"] {
  & .tech__minus {
    display: none;
  }
}

.tech__btn[state="active"] {
  & .tech__plus {
    display: none;
  }

  & .tech__minus {
    display: block;
  }
}

.tech__accordion, .qa__accordion {
  transition: height 0.2s ease;
}

.qa__arrow {
  transition: transform 0.2s ease;
}

.qa__text-wrap[state="active"] {
  & .qa__arrow {
    transform: rotate(-90deg);
  }
}

.tech__item:last-child {
  border-color: transparent;

  & .tech__accordion .acc {
    padding-bottom: 0;
  }
}
