.univercity__sticker {
  &--first {
    width: 31.25rem;
  }

  &--sec {
    width: 15.5625rem;
  }

  &--third {
    width: 14.5rem;
  }
}

.qa__item:last-child {
  margin-bottom: 0;

  & .qa__acc-group {
    border: none;
  }
  & .qa__acc-group {
    padding-bottom: 0;
  }
}

@media (min-width: 992px) {
  .brif__group-field:nth-of-type(2) {
    width: 37rem;
  }
}

// Основные контрольные точки разрешений
@media (max-width: 1800px) and (min-width: 1601px) {
  .wrapper--big, .wrapper--contact, .header__wrapper {
    width: 100rem;
  }
  .wrapper {
    width: 90rem;
  }

  .brif__sec-group {
    margin-left: auto;
  }
}

@media (max-width: 1600px) and (min-width: 1441px) {
  .wrapper--big, .wrapper--contact, .header__wrapper {
    width: 90rem;
  }
  .wrapper {
    width: 80rem;
  }

  .main__title {
    font-size: 5rem;
    margin-bottom: 2.5rem;
    max-width: 65rem;
  }
}

@media (max-width: 1440px) and (min-width: 1281px) {
  .wrapper--big, .wrapper--contact, .header__wrapper {
    width: 80rem;
  }

  .wrapper {
    width: 70rem;
  }
}

@media (max-width: 1280px) and (min-width: 1121px) {
  .wrapper--big, .wrapper--contact, .header__wrapper {
    width: 70rem;
  }

  .wrapper {
    width: 60rem;
  }
}

@media (max-width: 1120px) and (min-width: 992px) {
  .wrapper--big, .wrapper--contact, .header__wrapper {
    width: 60rem;
  }

  .service__list {
    grid-column-gap: 1.5rem;
  }

  .wrapper {
    width: 55rem;
  }

  .qa__arrow {
    margin-left: 3rem;
  }
}



// Адаптив элементов
@media (max-width: 1600px) and (min-width: 992px) {
  .navigation {
    padding-bottom: 6.25rem;
  }

  .creators__list {
    max-width: 70%;
  }

  .brif__sec-group {
    margin-left: auto;
  }

  .brif__add-group {
    display: block;
  }

  .brif__title--vacancy {
    margin-bottom: 4rem;
  }
}

@media (max-width: 1440px) and (min-width: 992px) {
  .header__item {
    font-size: 1rem;
  }
  .header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .header__svg {
    width: 5.375rem;
  }

  .projects__list {
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
  }
  .project__item:first-child .projects__title {
    font-size: 1.375rem;
    line-height: 1.1818;
  }
  .projects__title, .eprojects__title {
    font-size: 1.125rem;
    line-height: 1.91818;
  }
  .project__title-wrap {
    margin-top: 1rem;
  }
  .projects__text {
    font-size: 1rem;
    line-height: 1.5;
  }
  .projects__btn-text {
    font-size: 1.25rem;
    line-height: 1.2;
  }
  .project__text-group {
    margin-top: 5.5rem;
    margin-bottom: 5rem;
  }

  .filters {
    padding-top: 9rem;
    padding-bottom: 5.5rem;
  }
  .filters__list {
    max-width: 55rem;
  }
  .filters__title, .filters__item {
    font-size: 3rem;
  }

  .main__title {
    font-size: 4rem;
    line-height: 1.15625;
    margin-bottom: 2.5rem;
    max-width: 55rem;
  }

  .links__quest, .links__item {
    font-size: 1.125rem;
    line-height: 1.375;
  }
  .links__item {
    margin-right: 2rem;
  }

  .publish__text {
    font-size: 2.25rem;
    line-height: 1.333333;
  }
  .publish__text-group {
    max-width: 57rem;
  }
  .publish__emb {
    vertical-align: bottom;
  }
  .publish__link {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25;
  }

  .navigation {
    padding-top: 8.75rem;
  }

  .projects, .navigation {
    padding-bottom: 5.5rem;
  }

  .univercity__title, .careers__title, .about__title {
    font-size: 3.625rem;
    line-height: 1.137931;
  }

  .contacts {
    padding-top: 9.5rem;
    padding-bottom: 5rem;
  }
  .brif-contact {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }
  .contacts__title {
    font-size: 3rem;
    margin-bottom: 4rem;
  }

  .about {
    padding-top: 10rem;
    padding-bottom: 5.5rem;
  }
  .about__title {
    max-width: 62rem;
  }

  .univercity {
    padding-top: 7rem;
    padding-bottom: 4.25rem;
  }
  .univercity__group {
    margin-top: 4.5rem;
  }
  .univercity__title {
    max-width: 58rem;
  }
  .univercity__sticker {
    &.univercity__sticker--first {
      width: 22rem;
      left: 7rem;
      top: 12rem;
    }

    &.univercity__sticker--sec {
      width: 10rem;
      left: 30rem;
      top: 18rem;
    }

    &.univercity__sticker--third {
      width: 8rem;
      left: 35rem;
      top: 4rem;
    }
  }
  .univercity__btn-text {
    font-size: 1.125rem;
    line-height: 1.22222;
    min-width: auto;
  }
  .univercity__text {
    font-size: 0.875rem;
    line-height: 1.28571428;
  }

  .service {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }
  .service__list {
    margin-top: 2.75rem;
  }
  .service__title {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 3.75rem;
  }
  .service__text {
    font-size: 2.25rem;
    line-height: 1.33333;
    max-width: 48rem;
    padding-bottom: 2.75rem;
  }
  .service__subtitle {
    font-size: 1.625rem;
    line-height: 1.15384;
  }
  .service__desc {
    margin-top: 1rem;
    max-width: 18rem;
    font-size: 1rem;
    line-height: 1.75;
  }
  .publish__title {
    font-size: 1.25rem;
    line-height: 1.2;
  }
  .publish__list {
    margin-top: 3.75rem;
  }

  // DESC
  .desc {
    padding-top: 5rem;
    margin-bottom: 4rem;
  }
  .desc__title, .preview__title {
    font-size: 3rem;
  }
  .desc__item {
    font-size: 1.125rem;
  }
  .desc__text {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  // EXPRESS PAGE
  .express {
    padding-top: 10rem;
  }
  .express-desc {
    padding-top: 9rem;
    margin-bottom: 3.75rem;
  }
  .express__title {
    font-size: 4rem;
  }
  .express-brif {
    padding: 5rem 0;
  }

  .eprojects {
    padding-bottom: 5rem;
  }

 // BRIF
  .brif {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }
  .brif__title, .tech__title {
    font-size: 2.5rem;
    line-height: 1.3333;
  }
  .brif__title {
    margin-bottom: 3rem;
    max-width: 56rem;
  }
  .brif__title--vacancy {
    margin-bottom: 2.5rem;
  }
  .brif__send-btn {
    font-size: 1.75rem;
  }
  .brif__sec-group {
    order: -1;
    margin-left: 0;
    margin-bottom: 2rem;
  }
  .brif__field, .brif__textarea, .contact__field, .contact__textarea, .express__field, .express__textarea, {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .contact__forw-wrap {
    width: 60%;
  }
  .brif__btn-wrap {
    margin-top: 3rem;
  }

  // ABOUT
  .tech {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }
  .tech__title {
    max-width: 60rem;
    margin-bottom: 4rem;
  }
  .tech__text {
    font-size: 1.5rem;
  }
  .tech__item {
    padding-top: 3rem;
  }
  .tech__subtitle {
    font-size: 2.75rem;
  }
  .tech__btn {
    margin-bottom: 2.75rem;
  }
  .tech__image {
    top: 0.75rem;
  }

  .acc__title {
    font-size: 1.75rem;
  }

  .paragraph {
    font-size: 1.125rem;
    max-width: 18rem;
  }

  .space {
    margin-bottom: 4.5rem;
  }

  .club__title {
    font-size: 2.5rem;
    line-height: 1.333;
    margin-bottom: 4rem;
  }
  .club__subtitle {
    font-size: 1.25rem;
  }
  .club__post, .club__link {
    font-size: 1.125rem;
  }

  .we {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }

  .careers {
    padding-top: 8.5rem;
  }
  .careers__subtitle {
    font-size: 2.5rem;
    line-height: 1.333;
  }
  .careers__item {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .get {
    padding-top: 5.5rem;
    padding-bottom: 6rem;
  }
  .main__text {
    margin-bottom: 3rem;
  }
  .get__item {
    font-size: 3.25rem;
  }
  .get__item--orange {
    margin-top: 0.75rem;
  }

  .qa {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .qa__title {
    margin-right: 8rem;
  }
  .qa__subtitle {
    max-width: 45rem;
    font-size: 2.5rem;
  }
  .qa__number {
    margin-right: 2.5rem;
  }
  .qa__text {
    font-size: 1.375rem;
  }

  // clients
  .clients {
    padding-top: 5.5rem;
    padding-bottom: 7.25rem;
  }
  .clients__wrap {
    font-size: 3rem;
    max-width: 58rem;
  }

  .video {
    margin-bottom: 5rem;
  }

  .publish {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }
  .publish__emb {
    margin-left: 1rem;

    & svg {
      width: 1.5rem;
    }
  }

  .vacancy {
    padding-top: 7.5rem;
    padding-bottom: 5.5rem;
  }
  .vacancy__title {
    font-size: 2.25rem;
    line-height: 1.3333;
  }
  .vacancy__desc {
    font-size: 1.5rem;
  }

  .creators__wrap {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }
  .creators__post, .creators__name {
    font-size: 1.25rem;
    line-height: 1.2;
  }
  .creators__text-link, .next__link {
    font-size: 1.5rem;
  }

  .footer {
    padding-top: 5.5rem;
    padding-bottom: 3rem;
  }
  .footer__address, .footer__contacts {
    font-size: 1.625rem;
    line-height: 1.231;
  }
  .footer__group-one {
    margin-bottom: 3.75rem;
  }
  .footer__link, .footer__link-social {
    font-size: 1.125rem;
    line-height: 1.22222;
    margin-right: 1.75rem;
  }
  .footer__link-social {
    margin-right: 1.5rem;
  }
}

@media (max-width: 1280px) and (min-width: 992px) {
  .main__title, .about__title {
    font-size: 3rem;
    max-width: 42rem;
  }
  .about__title {
    max-width: 55rem;
  }
  .navigation {
    padding-bottom: 3.5rem;
  }

  .contacts {
    padding-top: 8.5rem;
  }
  .contact__forw-wrap {
    width: 100%;
  }

  .brif__form-wrap {
    width: 100%;
  }
  .brif__group-field {
    width: 20rem;

    &:first-child {
      flex-shrink: 0;
      margin-right: 3rem;
    }
  }
  .brif__group-field:nth-of-type(2) {
    width: auto;
    flex-grow: 1;
  }
  .brif__list {
    width: auto;
  }

  .clients {
    padding-bottom: 6.25rem;
  }
  .clients__text {
    margin-bottom: 2.5rem;
  }
  .clients__wrap {
    font-size: 3rem;
  }

  .links__item {
    margin-bottom: 0.5rem;
  }

  .footer, .publish {
    padding-top: 5.5rem;
  }
  .publish {
    padding-bottom: 6rem;
  }
  .footer__address, .footer__contacts {
    font-size: 1.75rem;
  }

  .publish__text {
    font-size: 2rem;
  }
  .publish__text-group {
    max-width: 51rem;
  }

  .next__title {
    font-size: 2.5rem;
  }

  .get__item {
    font-size: 3rem;
  }

  .get {
    padding-top: 5rem;
    padding-bottom: 6rem;
  }

  .brif__forw-wrap, .express__forw-wrap {
    width: 100%;
  }

  .express__group-field {
    width: 20rem;

    &.express__group-field--sec {
      width: auto;
      margin-left: 2rem;
      flex-grow: 1;
    }
  }

  .qa__title {
    margin-right: 5rem;
  }

  .footer__group-one, .footer__group-two {
    grid-template-columns: auto 55%;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .footer__link-social:last-child {
    margin-top: 1rem;
  }
}

@media (max-width: 991px) {
  .footer__link-social:last-child {
    margin-right: 0;
  }
  .publish__emb {
    vertical-align: top;
  }
}

@media (max-width: 767px) {
  .service__list[visible="false"] .service__item:nth-child(n + 3), .publish__list[visible="false"] .publish__item:nth-child(n + 3) {
    display: none;
  }

  .footer__link-social:last-of-type {
    margin-bottom: 0;
  }
}
