.univercity__sticker {
  &--first {
    width: 31.25rem;
  }

  &--sec {
    width: 15.5625rem;
  }

  &--third {
    width: 14.5rem;
  }
}

.qa__item:last-child {
  margin-bottom: 0;

  & .qa__acc-group {
    border: none;
  }
}

@media (min-width: 992px) {
  .brif__group-field:nth-of-type(2) {
    width: 37rem;
  }
}

@media (max-width: 1800px) and (min-width: 1600px) {
  .wrapper--big, .wrapper--contact, .header__wrapper {
    width: 100rem;
  }
  .wrapper {
    width: 90rem;
  }

  .brif__sec-group {
    margin-left: auto;
  }
}

@media (max-width: 1599px) and (min-width: 1440px) {
  .wrapper--big, .wrapper--contact, .header__wrapper {
    width: 90rem;
  }
  .wrapper {
    width: 80rem;
  }

  .main__title {
    font-size: 5rem;
    margin-bottom: 2.5rem;
    max-width: 65rem;
  }
}

@media (max-width: 1599px) and (min-width: 992px) {
  .navigation {
    padding-bottom: 6.25rem;
  }

  .creators__list {
    max-width: 70%;
  }

  .brif__sec-group {
    margin-left: 0;
    margin-top: 3rem;
  }

  .brif__add-group {
    display: block;
  }

  .brif__title--vacancy {
    margin-bottom: 4rem;
  }
}

@media (max-width: 1439px) and (min-width: 1280px) {
  .wrapper--big, .wrapper--contact, .header__wrapper {
    width: 80rem;
  }

  .wrapper {
    width: 70rem;
  }
}

@media (max-width: 1439px) and (min-width: 992px) {
  .main__title {
    font-size: 4rem;
    margin-bottom: 2.5rem;
    max-width: 55rem;
  }

  .links__quest, .links__item {
    font-size: 1.125rem;
    line-height: 1.375;
  }

  .links__item {
    margin-right: 2rem;
  }

  .projects__title {
    font-size: 1.375rem;
  }

  .projects__text {
    font-size: 1rem;
    line-height: 1.5;
  }

  .projects__btn-text {
    font-size: 1.25rem;
    line-height: 1.2;
  }

  .publish__text {
    max-width: 52rem;
    font-size: 2.5rem;
  }

  .navigation {
    padding-top: 8.75rem;
  }

  .projects, .navigation {
    padding-bottom: 5.5rem;
  }

  .univercity {
    padding-top: 7rem;
    padding-bottom: 4.25rem;
  }

  .univercity__title, .filters__title, .filters__item, .contacts__title, .careers__title, .about__title {
    font-size: 3.625rem;
  }

  .about {
    padding-top: 10rem;
    padding-bottom: 5.5rem;
  }

  .univercity__group {
    margin-top: 3.875rem;
  }

  .univercity__sticker {
    &.univercity__sticker--first {
      left: 7rem;
      top: 12rem;
    }

    &.univercity__sticker--sec {
      left: 30rem;
      top: 19rem;
    }

    &.univercity__sticker--third {
      left: 45rem;
      top: 4rem;
    }
  }
  .univercity__btn-text {
    font-size: 1.125rem;
  }
  .univercity__text {
    font-size: 0.875rem;
  }

  .service {
    padding-top: 7rem;
    padding-bottom: 6.75rem;
  }

  .service__title {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 4.25rem;
  }

  .service__text {
    font-size: 2.5rem;
  }

  .service__subtitle {
    font-size: 1.5rem;
  }

  .service__desc {
    max-width: 18rem;
    font-size: 1rem;
    line-height: 1.5;
  }

  // DESC
  .desc {
    padding-top: 5rem;
    margin-bottom: 4rem;
  }

  .desc__title {
    font-size: 3rem;
  }

  .desc__item {
    font-size: 1.125rem;
  }

  .desc__text {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .project__text {
    font-size: 1.5rem;
  }

  .project__text-group {
    margin-top: 5.5rem;
    margin-bottom: 5rem;
  }

  .express-desc {
    padding-top: 9rem;
    margin-bottom: 3.75rem;
  }

  .brif {
    padding-top: 6rem;
    padding-bottom: 5.5rem;
  }

  .brif__title, .tech__title {
    font-size: 2.5rem;
  }

  .brif__send-btn {
    font-size: 1.75rem;
  }

  // ABOUT
  .tech__title {
    max-width: 60rem;
    margin-bottom: 4rem;
  }

  .tech__text {
    font-size: 1.5rem;
  }

  .tech__item {
    padding-top: 3rem;
  }

  .tech__subtitle {
    font-size: 2.75rem;
  }

  .tech__btn {
    margin-bottom: 2.75rem;
  }

  .acc__title {
    font-size: 1.75rem;
  }

  .paragraph {
    font-size: 1.125rem;
    max-width: 18rem;
  }

  .space {
    margin-bottom: 5.75rem;
  }
  .club__title {
    margin-bottom: 4.25rem;
  }

  .club__subtitle {
    font-size: 1.25rem;
  }
  .club__post, .club__link {
    font-size: 1.125rem;
  }
  .we {
    padding-bottom: 6.25rem;
  }


  // EXPRESS PAGE
  .express {
    padding-top: 10rem;
  }

  .express__title {
    font-size: 4rem;
  }

  .get {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .get__item--orange {
    margin-top: 0.75rem;
  }

  .eprojects {
    padding-bottom: 5rem;
  }

  .qa {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .qa__title {
    margin-right: 10rem;
  }

  .qa__subtitle {
    max-width: 45rem;
    font-size: 3rem;
  }

  .qa__number {
    margin-right: 2.5rem;
  }

  .qa__text {
    font-size: 1.375rem;
  }

  .express-brif {
    padding: 5rem 0;
  }
}

@media (max-width: 1279px) and (min-width: 1120px) {
  .wrapper--big, .wrapper--contact, .header__wrapper {
    width: 70rem;
  }

  .wrapper {
    width: 60rem;
  }
}

@media (max-width: 1279px) and (min-width: 992px) {
  .main__title {
    font-size: 3rem;
    max-width: 45rem;
  }
  .univercity__btn-text {
    min-width: auto;
  }
  .navigation {
    padding-bottom: 3.5rem;
  }
  .careers__subtitle {
    font-size: 2.5rem;
  }

  .footer__link-social {
    margin-right: 2.5rem;
  }

  .brif__form {
    width: 100%;
  }

  .brif__group-field {
    width: 20rem;

    &:first-child {
      flex-shrink: 0;
      margin-right: 3rem;
    }
  }

  .brif__group-field:nth-of-type(2) {
    width: auto;
    flex-grow: 1;
  }

  .brif__forw-wrap {
    width: 100%;
  }

  .club__title {
    font-size: 2.5rem;
  }

  .clients {
    padding-top: 5.5rem;
    padding-bottom: 6.25rem;
  }

  .clients__text {
    margin-bottom: 2.5rem;
  }

  .clients__company {
    font-size: 3rem;
  }

  .brif__list {
    width: auto;
  }

  .links__item {
    margin-bottom: 0.5rem;
  }

  .footer, .publish {
    padding-top: 5.5rem;
  }
  .publish {
    padding-bottom: 6rem;
  }
  .footer__address, .footer__contacts {
    font-size: 1.75rem;
  }

  .footer__link, .footer__link-social {
    font-size: 1.25rem;
  }

  .publish__text {
    font-size: 2rem;
  }

  .creators__post, .creators__name {
    font-size: 1.25rem;
    line-height: 1.2;
  }
  .creators__text-link, .next__link {
    font-size: 1.5rem;
  }

  .creators__wrap {
    padding-bottom: 5.5rem;
  }

  .next__title {
    font-size: 2.5rem;
  }

  .footer__group-one {
    margin-bottom: 4rem;
  }

  .qa__subtitle {
    font-size: 2.5rem;
  }

  .get__item {
    font-size: 3rem;
  }

  .express__form {
    width: 100%;
  }

  .express__group-field {
    width: 20rem;

    &.express__group-field--sec {
      width: auto;
      margin-left: 2rem;
      flex-grow: 1;
    }
  }

  .qa__title {
    margin-right: 5rem;
  }

  .qa__arrow {
    margin-left: 3rem;
  }

  .clients__wrap {
    font-size: 3rem;
  }
}

@media (max-width: 1119px) and (min-width: 992px) {
  .wrapper--big, .wrapper--contact, .header__wrapper {
    width: 60rem;
  }

  .service__list {
    grid-column-gap: 1.5rem;
  }

  .wrapper {
    width: 55rem;
  }

  .main__title {
    font-size: 3.625rem;
  }

  .brif__field {
    font-size: 1.5rem;
    line-height: 1.3;
  }
}

@media (max-width: 767px) {
  // .links__list {
  //   overflow-x: scroll;
  // }

  .service__list[visible="false"] .service__item:nth-child(n + 3), .publish__list[visible="false"] .publish__item:nth-child(n + 3) {
    display: none;
  }
}
