.brif__item--contact {
  transition: color 0.3s ease, background-color 0.3s ease;
}

@media (min-width: 768px) {
  .brif__item--contact[state="enable"] {
    color: white;
    background-color: black;
  }
}

@media (max-width: 767px) {
  .brif__item--contact[state="enable"] {
    color: #1D4AD9;
    border-color: #1D4AD9;
  }
}
