.brif__field[data-state="invalid"], .contact__field[data-state="invalid"], .express__field[data-state="invalid"], .brig-page__field[data-state="invalid"] {
  border-color: red;

  &::placeholder {
    color: red;
  }
}

.brif__list[data-state="invalid"] {
  & .brif__item--contact {
    color: white;
    background-color: red;
  }
}

.brif__textarea {
  overflow: hidden;
}

.file-label--pick {
  color: black;
}

.express-brif .file-label--pick {
  color: white;
}

@media (min-width: 992px) {
  .brif__item--contact, .brif-page__item--contact{
    transition: color 0.3s linear, background-color 0.3s linear;
  }
}


@media (min-width: 768px) {
  .brif__item--contact[data-state="enable"], .brif-page__item--contact[data-state="enable"] {
    color: white;
    background-color: black;
  }
}
@media (max-width: 767px) {
  .brif__item--contact[data-state="enable"], .brif-page__item--contact[data-state="enable"] {
    user-select: none;
    color: white;
    background-color: black;
  }
}
