.brif__field[data-state="invalid"], .contact__field[data-state="invalid"], .express__field[data-state="invalid"] {
  border-color: red;

  &::placeholder {
    color: red;
  }
}

.brif__list[data-state="invalid"] {
  & .brif__item--contact {
    color: white;
    background-color: red;
  }
}

.brif__item--contact {
  transition: color 0.3s ease, background-color 0.3s ease;
}
@media (min-width: 768px) {
  .brif__item--contact[data-state="enable"] {
    color: white;
    background-color: black;
  }
}
@media (max-width: 767px) {
  .brif__item--contact[data-state="enable"] {
    color: white;
    background-color: black;
  }
}

.brif__textarea {
  overflow: hidden;
}

.file-label--pick {
  color: black;
}

.express-brif .file-label--pick {
  color: white;
}
