.brif__field[state="invalid"], .contact__field[state="invalid"], .express__field[state="invalid"] {
  border-color: red;

  &::placeholder {
    color: red;
  }
}

.brif__list[state="invalid"] {
  & .brif__item--contact {
    color: white;
    background-color: red;
  }
}

.brif__textarea {
  overflow: hidden;
}
