html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
}

* {
  outline:none;
}

input {
  border-radius:0;
}

input:-webkit-autofill {
  -webkit-box-shadow:inset 0 0 0 50px white;
  -webkit-text-fill-color:black;
}

.wrapper--contact {
  pointer-events: none;
}

.contact {
  pointer-events: all;
}
.clients__your-company {
  display: inline-flex;
}

.contact__link {
  transition: color 0.3s ease;

  & .arrow svg path {
    transition: fill 0.3s ease;
  }
}

.contact__link[link-color="white"] {
  color: white;

  & .arrow svg path {
    fill: white;
  }
}

// ВЫДЕЛЕНИЕ ПОЛЕЙ ВВОДА
.contact__field, .brif__field {
  &:focus {
    border-color: black;
  }
}

.express__field {
  &:focus {
    border-color: white;
  }
}
