* {
  outline:none;
}

input {
  border-radius:0;
}

input:-webkit-autofill {
  -webkit-box-shadow:inset 0 0 0 50px white;
  -webkit-text-fill-color:black;
}

// for the stickers
.main {
  overflow-x: hidden;
}

.wrapper--contact {
  pointer-events: none;
}

.contact {
  pointer-events: all;
}

.view__image-right {
  cursor: url('https://uploads-ssl.webflow.com/5e81b2e4dad44dfcda3175d3/5e8457d23fb6cf6c6af2cdfb_cursor-image.svg'), default;
}

.view__image-left {
  cursor: url('https://uploads-ssl.webflow.com/5e81b2e4dad44dfcda3175d3/5e947051c307547a8605131e_cursor90.svg'), default;
}

.view__controls {
  pointer-events: none;
}

.view__paginations {
  pointer-events: all;
}

.view__point:last-child {
  margin-right: 0;
}

.view__point {
  position: relative;
  animation-fill-mode: forwards;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 6.5rem;
    background: white;
    transform: translateX(-100%);
  }
}

.view__point--active {
  &:before {
    animation: pseudoMove 9.5s ease;
    animation-fill-mode: forwards;
  }
}

@keyframes pseudoMove {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
