* {
  outline:none;
}

input {
  border-radius:0;
}

input:-webkit-autofill {
  -webkit-box-shadow:inset 0 0 0 50px white;
  -webkit-text-fill-color:black;
}

.wrapper--contact {
  pointer-events: none;
}

.contact {
  pointer-events: all;
}

.view__image {
  cursor: url('https://uploads-ssl.webflow.com/5e81b2e4dad44dfcda3175d3/5e8457d23fb6cf6c6af2cdfb_cursor-image.svg'), default;
}
