.header--white {
  pointer-events: none;

  & .header__item {
    color: white;
  }
}


// FOR CHANGE MENU COLOR
.header[color="change"], .header--white[color="change"] {
  & .header__svg path {
    fill: white;
  }

  & .header__item {
    color: white;
  }
}

.header--white[color=""] {
  & .header__svg path {
    fill: black;
  }

  & .header__item {
    color: black;
  }
}

.header {
  pointer-events: none;
  transition: transform 0.3s ease;

  &--hid {
    transform: translateY(-100%);
  }
}

.header__item {
  transition: color 0.2s ease;
}

.header__logo, .header__menu {
  pointer-events: all;
}

.header__item.w--current {
  pointer-events: none;

  & .header__text {
    border-color: black;
  }
}

.header[color="change"] .header__item.w--current {
  & .header__text {
    border-color: white;
  }
}

.header--white[color=""] .header__item.w--current {
  & .header__text {
    border-color: black;
  }
}
