.header, .header--white {
  pointer-events: none;
  transition: transform 0.25s ease, background-color 0.2s ease;;

  &--hid {
    transition: transform 0.15s ease;
    transform: translateY(-101%);
  }
}

.header--white {
  & .header__item {
    color: rgba(255, 255, 255, 0.6);

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  & .header__svg path {
    fill: white;
  }
}

.header__item {
  transition: color 0.2s ease;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &.w--current {
    pointer-events: none;
  }
}

// FOR CHANGE MENU COLOR
.header--white[data-color=""] {
  background-color: #fff;

  & .header__svg path {
    fill: black;
  }

  & .header__item {
    color: black;

    &:hover {
      color: #666666;
    }
  }
}

.body--express .header--white {
  background-color: black;
}

.header__logo, .header__menu {
  pointer-events: all;
}
