.header__item, .links__item {
  &:last-child {
    margin-right: 0;
  }
}

// UNIVERCITY
// .univercity__sticker {
//   flex-basis: 100%;
// }

.univercity__sticker {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: transform 0.5s ease;
}

.univercity__image {
  pointer-events: none;
}

.univercity__sticker[state="none"] {
  cursor: grab;
}

.univercity__sticker[state="active"] {
  z-index: 12;
  cursor: grabbing;
  transform: scale(0.8);
}

.service__item {
  // cursor: none;

  &:hover {
    & .service__image {
      display: block;
    }
  }
}
