.header__item, .links__item {
  &:last-child {
    margin-right: 0;
  }
}

.univercity__sticker, .picture__sticker {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: transform 0.5s ease;
}

.univercity__image, .picture__sticker-image, .picture__sticker--mobile {
  pointer-events: none;
}

.univercity__sticker[data-state="none"], .picture__sticker[data-state="none"] {
  cursor: grab;
}

.univercity__sticker .univercity__image, .picture__sticker .picture__sticker--mobile, .picture__sticker .picture__sticker-image  {
  transition: transform 0.5s ease;
  will-change: transform;
}

.univercity__sticker[data-state="active"], .picture__sticker[data-state="active"] {
  z-index: 12;
  cursor: grabbing;

  & .univercity__image {
    transform: scale(0.95);
  }

  & .picture__sticker-image, .picture__sticker--mobile {
    transform: scale(0.95);
  }
}

@media (min-width: 992px) {
  .service__item {
    cursor: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    &:hover {
      & .service__image {
        display: block;
      }
    }
  }
}
