.careers__emb, .next__emb {
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.publish__emb {
  transition: opacity 0.2s ease;
}

.publish__item {
  &:hover {
    & .publish__emb {
      opacity: 1;
    }
  }
}

.careers__item {
  &:hover {
    & .careers__emb {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}

.next__link{
  &:hover {
    & .next__emb {
      transform: translateX(5px);
    }
  }

  &:active {
    & .next__emb {
      transform: translateX(0);
    }
  }
}
// hover всех ссылок на сайте
.footer__link, .footer__link-social, .links__item, .projects__btn-text, .eprojects__btn-text, .contact__link, .brif__send-btn, .express__send-btn, .club__link, .footer__tel, .footer__mail, .contacts__text, .clients__your-company, .brif__blue-text {
  transition: color 0.2s ease;
}

.publish__text, .tech__btn-text, .clients__your-company, .brif__send-btn, .brif__send-btn--express, .express__send-btn, .projects__title, .eprojects__title, .brif__blue-text {
  transition: border-color 0.2s ease;
}

.brif__blue-text:hover {
  color: black;
  border-color: black;
}

.header__text {
  transition: border-color 0.1s ease;
}

.header__item {
  &:hover {
    & .header__text {
      border-color: black;
    }
  }
}

.header[color="change"] .header__item {
  &:hover {
    & .header__text {
      border-color: white;
    }
  }
}

.header--white {
  & .header__item {
    &:hover {
      & .header__text {
        border-color: white;
      }
    }
  }
}

.header--white[color=""] {
  & .header__item {
    &:hover {
      & .header__text {
        border-color: black;
      }
    }
  }
}

.contacts__text {
  transition: border-color 0.3s ease;
}


.contacts__text-wrap {
  &:hover .contacts__text {
    color: black;
    border-color: currentColor;
  }
}

.footer__tel, .footer__mail {
  &:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer__link, .footer__link-social, .contact__link, .brif__send-btn, .brif__send-btn--express, .express__send-btn, .club__link {
  & svg path {
    transition: fill 0.2s ease;
  }
}

.club__link {
  &:hover {
    color: black;

    & svg path {
      fill: black;
    }
  }
  &:active {
    color: #666666;

    & svg path {
      fill: #666666;
    }
  }
}

.footer__link, .footer__link-social {
  &:hover {
    color: white;

    & svg path {
      fill: white;
    }
  }
}

.contact__link {
  &:hover {
    color: #666666;

    & svg path {
      fill: #666666;
    }
  }

  &:active {
    color: #000000;

    & svg path {
      fill: #000000;
    }
  }
}

.contact__link[link-color="white"] {
  &:hover {
    color: white;

    & svg path {
      fill: white;
    }
  }

  &:active {
    color: white;

    & svg path {
      fill: white;
    }
  }
}

// COLOR LINK
.projects__btn-text {
  border-color: currentColor;
}

.links__item, .projects__btn-text {
  &:hover, &:active {
    color: #000000;
  }
}

.arrow svg path {
  transition: fill 0.2s ease;
}

.links__item:hover {
  & .arrow svg path {
    fill: black;
  }
}

// .body--express {
//   & .header__item {
//     &:hover, &:active {
//       color: rgba(255, 255, 255, 0.6);
//     }
//   }
// }

// .project__link-wrap {
//   overflow: hidden;
// }

.projects__image {
  transition: transform 0.3s ease;
}

.project__link-wrap {
  &:hover {
    & .projects__title {
      border-color: black;
    }

    & .eprojects__title {
      border-color: white;
    }

    & .projects__image {
      transform: scale(1.1);
    }
  }
}

.eprojects__btn-text {
  &:hover, &:active {
    color: white;
  }
}

.univercity__emb, .creators__emb, .vacancy__emb {
  transition: transform 0.2s ease;
}

.univercity__btn {
  &:hover {
    & .univercity__emb {
      transform: translateX(7px);
    }
  }

  &:active {
    & .univercity__emb {
      transform: translateX(0);
    }
  }
}

.publish__item {
  &:hover .publish__text {
    border-color: black;
  }
}

.creators__back {
  &:hover {
    & .creators__emb {
      transform: translateX(-7px);
    }
  }
}

.vacancy__back {
  &:hover {
    & .vacancy__emb {
      transform: translateX(-7px);
    }
  }
}

.brif__send-btn {
  &:hover {
    border-color: currentColor;
  }

  &:active {
    color: #666;

    & svg path {
      stroke: #666;
    }
  }
}

.brif__send-btn--express, .express__send-btn {
  &:hover {
    border-color: white;
  }
}

.express__send-btn {
  &:active {
    color: rgba(255, 255, 255, 0.7);

    &:hover {
      border-color: currentColor;
    }

    & svg path {
      stroke: rgba(255, 255, 255, 0.7);
    }
  }
}

.tech__btn {
  &:hover {
    .tech__btn-text {
      border-color: white;
    }
  }
}

.clients__your-company {
  &:hover {
    color: black;
    border-color: black;
  }
}

.get__item {
  cursor: default;
  transition: background-color 0.3s ease;
  will-change: border-radius,
  &--round {
    border-radius: 6.25rem;
  }

  &[gi="first"] {
    background-color: #F4F900;
  }
  &[gi="second"] {
    background-color: #0E4CD1;
  }
  &[gi="third"] {
    background-color: #FA6823;
  }
  &--round:hover {
    // border-radius: 0rem;
    background-color: white;
  }
}
