.publish__emb, .careers__emb, .next__emb {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.publish__item {
  &:hover {
    & .publish__emb {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}

.careers__item {
  &:hover {
    & .careers__emb {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}

.next__link{
  &:hover {
    & .next__emb {
      transform: translateX(5px);
    }
  }

  &:active {
    & .next__emb {
      transform: translateX(0);
    }
  }
}
// hover всех ссылок на сайте
.footer__link, .footer__link-social, .links__item, .projects__btn-text, .eprojects__btn-text, .contact__link, .brif__send-btn, .express__send-btn, .club__link, .footer__tel, .footer__mail, .contacts__text {
  transition: color 0.3s ease;
}

.header__item {
  &:hover {
    & .header__text::before {
      transform: translateX(0);
    }
  }
}

.contacts__text-wrap {
  &:hover .contacts__text {
    color: black;
  }
}

.footer__tel, .footer__mail {
  &:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer__link, .footer__link-social, .contact__link, .brif__send-btn, .express__send-btn, .club__link {
  & svg path {
    transition: fill 0.3s ease;
  }
}

.club__link {
  &:hover {
    color: black;

    & svg path {
      fill: black;
    }
  }
  &:active {
    color: #666666;

    & svg path {
      fill: #666666;
    }
  }
}

.footer__link, .footer__link-social {
  &:hover {
    color: white;

    & svg path {
      fill: white;
    }
  }
}

.contact__link {
  &:hover {
    color: #666666;

    & svg path {
      fill: #666666;
    }
  }

  &:active {
    color: #000000;

    & svg path {
      fill: #000000;
    }
  }
}

// COLOR LINK
.links__item, .projects__btn-text {
  &:hover, &:active {
    color: #000000;
  }
}

// .body--express {
//   & .header__item {
//     &:hover, &:active {
//       color: rgba(255, 255, 255, 0.6);
//     }
//   }
// }

.project__link-wrap {
  overflow-x: hidden;
}

.projects__title, .eprojects__title {
  transition: border-color 0.3s ease;

  &::before {
    content: '';
    position: absolute;
    display: block;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }
}

.projects__title::before {
  background-color: #000000;
}

.projects__image {
  transition: transform 0.5s ease;
}

.project__link-wrap {
  &:hover {
    & .projects__title::before, & .eprojects__title::before {
      transform: translateX(0);
    }

    & .projects__image {
      transform: scale(1.1);
    }
  }
}

.eprojects__title::before {
  background-color: white;
}

.eprojects__btn-text {
  &:hover, &:active {
    color: white;
  }
}

.univercity__emb, .creators__emb, .vacancy__emb {
  transition: transform 0.3s ease;
}

.univercity__btn {
  &:hover {
    & .univercity__emb {
      transform: translateX(10px);
    }
  }

  &:active {
    & .univercity__emb {
      transform: translateX(0);
    }
  }
}

.publish__text, .tech__btn-text {
  transition: border-color 0.3s ease;
}

.publish__item {
  &:hover .publish__text {
    border-color: black;
  }
}

.creators__back {
  &:hover {
    & .creators__emb {
      transform: translateX(-7px);
    }
  }

  // &:active {
  //   & .creators__emb {
  //     transform: translateX(0);
  //   }
  // }
}

.vacancy__back {
  &:hover {
    & .vacancy__emb {
      transform: translateX(-7px);
    }
  }

  // &:active {
  //   & .vacancy__emb {
  //     transform: translateX(0);
  //   }
  // }
}

.brif__send-btn {
  &:hover {
    color: rgba(0, 0, 0, 0.7);

    & svg path {
      fill: rgba(0, 0, 0, 0.7);
    }
  }

  &:active {
    color: black;

    & svg path {
      fill: black;
    }
  }
}

// .express__arrow {
//   transition: transform 0.3s ease;
// }

.express__send-btn {
  &:hover {
    color: rgba(255, 255, 255, 0.7);

    // & .express__arrow {
    //   transform: translate(5px, -5px);
    // }

    & svg path {
      fill: rgba(255, 255, 255, 0.7);
    }
  }

  &:active {
    color: white;

    & svg path {
      fill: white;
    }
  }
}

.tech__btn {
  &:hover {
    .tech__btn-text {
      border-color: white;
    }
  }
}

.clients__your-company {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0e4cd1;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }

  &:hover {
    &::before {
      transform: translateX(0%);
    }
  }
}
