// hover всех ссылок на сайте
.footer__link, .footer__link-social, .links__item, .projects__btn-text, .eprojects__btn-text, .contact__link, .brif__send-btn, .express__send-btn, .club__link, .footer__tel, .footer__address, .footer__mail, .contacts__text, .clients__your-company, .brif__blue-text, .creators__back, .vacancy__back, .hello__link, .contacts__title, .vacancy__mail-link {
  transition: color 0.2s ease;
}

.contacts__title, .vacancy__mail-link {
  &:hover {
    color: #666;
  }
}

.hello-vacancy {
  transition: background-color 0.2s ease;
}

.hello__emb, .univercity__emb, .creators__emb, .vacancy__emb, .brif__arrow, .brif__arrow--back {
  transition: transform 0.2s ease;
}

.careers__emb {
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.publish__emb {
  transition: opacity 0.2s ease;
}

.hello-vacancy {
  &:hover {
    background-color: white;

    & .hello__link {
      color: #666;

      & .hello__emb {
        transform: translateX(4px);
      }

      & svg path {
        stroke: currentColor;
      }
    }
  }
}

.hello__link {
  &:hover {
    color: #666;

    & .hello__emb {
      transform: translateX(4px);
    }

    & svg path {
      stroke: currentColor;
    }
  }
}

.hello-vacancy--npoint {
  cursor: default;
  background-color: white;
}

.publish__item {
  &:hover {
    & .publish__emb {
      opacity: 1;
    }
  }
}

.careers__item {
  &:hover {
    & .careers__emb {
      transform: translateX(0);
      opacity: 1;
    }
  }
}


.publish__text, .tech__btn-text, .brif__send-btn--express, .projects__title, .eprojects__title, .contacts__text, .club__link {
  transition: border-color 0.2s ease;
}

.brif__blue-text:hover {
  color: #666;
}

.contacts__text-wrap {
  &:hover .contacts__text {
    color: black;
  }
}

.footer__tel, .footer__mail, .footer__address {
  &:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer__link, .footer__link-social, .contact__link, .brif__send-btn, .brif__send-btn--express, .express__send-btn, .club__link {
  & svg path {
    transition: fill 0.2s ease;
  }
}

.club__link {
  &:hover {
    color: #666;
    border-color: currentColor;

    & svg path {
      fill: #666;
    }
  }
}

.footer__link, .footer__link-social {
  &:hover {
    color: white;

    & svg path {
      fill: white;
    }
  }
}

.contact__link {
  &:hover {
    color: #666666;
  }

  &:active {
    color: #000000;
  }
}

// COLOR LINK
.links__item {
  &:hover, &:active {
    color: #000;
  }
}
.projects__btn-text {
  &:hover, &:active {
    color: #666;
  }
}
.arrow svg path {
  transition: fill 0.2s ease;
}

.links__item:hover {
  & .arrow svg path {
    fill: black;
  }
}

.project__image-wrap {
  pointer-events: none;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.projects__image, .project__video, .projects__img-cont, .express__arrow, .express__arrow-back {
  transition: transform 0.2s ease;
}

.project__link-wrap {
  &:hover {
    & .projects__title {
      border-color: black;
    }

    & .eprojects__title {
      border-color: white;
    }

    & .projects__image, & .project__video, & .projects__img-cont {
      transform: scale(1.025);
    }
  }
}

.eprojects__btn-text {
  &:hover, &:active {
    color: white;
  }
}

.univercity__btn {
  &:hover {
    & .univercity__emb {
      transform: translateX(4px);
    }
  }

  &:active {
    & .univercity__emb {
      transform: translateX(0);
    }
  }
}

.publish__item {
  &:hover .publish__text {
    border-color: black;
  }
}

.creators__back {
  &:hover {
    color: #666;

    & svg path {
      stroke: currentColor;
    }

    & .creators__emb {
      transform: translateX(-4px);
    }
  }
}

.vacancy__back {
  &:hover {
    color: #666;
    & svg path {
      stroke: currentColor;
    }

    & .vacancy__emb {
      transform: translateX(-4px);
    }
  }
}

.brif__send-btn {
  &:hover {
    color: #666;

    & .brif__arrow {
      transform: translateX(4px);
    }

    & .brif__arrow--back {
      transform: translateX(-4px);
    }
  }
}

.express__send-btn, .brif__send-btn--express {
  &:hover {
    color: rgba(255, 255, 255, 0.7);

    & .express__arrow {
      transform: translateX(4px);
    }

    & .express__arrow-back {
      transform: translateX(-4px);
    }
  }
}

.tech__btn {
  &:hover {
    .tech__btn-text {
      border-color: white;
    }
  }
}

.clients__your-company {
  &:hover {
    color: #666;
    border-color: currentColor;
  }
}

.get__item {
  cursor: default;
  transition: background-color 0.3s ease;
  will-change: border-radius;

  &--round {
    border-radius: 6.25rem;
  }

  &[data-gi="first"] {
    background-color: #F4F900;
  }
  &[data-gi="second"] {
    background-color: #0E4CD1;
  }
  &[data-gi="third"] {
    background-color: #FA6823;
  }
  &--round:hover {
    background-color: white;
  }
}

@media (min-width: 992px) {
  .tech__item {
    &:hover {
      & .tech__image {
        display: block;
      }
    }
  }
}
