@media (min-width: 1441px) {
  .project__item:first-child .projects__title {
    font-size: 2rem;
    line-height: 1.25;
  }
}

.project-sect[lazy-load="block"] {
  display: none;
  will-change: transform;
  // transition: transform ease;
  // transform: scale(0.85);
}

.project-sect[lazy-load="block"][state="enable"] {
  display: block;
}

.filters__item[state="enable"] {
  cursor: default;
  pointer-events: none;
}
