@media (min-width: 1441px) {
  .project__item:first-child .projects__title {
    font-size: 2rem;
    line-height: 1.25;
  }
}

.project-sect[lazy-load="block"] {
  display: none;
  will-change: transform;
  // transition: transform ease;
  // transform: scale(0.85);
}

.project-sect[lazy-load="block"][state="enable"] {
  display: block;
}

.filters__item[state="enable"] {
  cursor: default;
  pointer-events: none;
}

// .project-sect:nth-child(n + 2) .preview {
//   position: relative;
//
//   &::before {
//     content: "";
//     position: absolute;
//     display: block;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.5);
//     z-index: 1;
//   }
// }
