@media (min-width: 992px) {
  .body--home, .body--projects {
    & .project__item:first-child {
      -ms-grid-column: span 3;
      grid-column-start: span 3;
      -ms-grid-column-span: 3;
      grid-column-end: span 3;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
    }
    & .project__item:nth-child(6n-3), .project__item:nth-child(6n-2) {
      grid-column: auto / span 2;
    }
    & .project__item[data-grid="2"] {
      grid-column-start: span 2;
      -ms-grid-column-span: 2;
      grid-column-end: span 2;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) { // раскладка на планшетной версии
  .body--home, .body--projects {
    & .project__item:first-child {
      -ms-grid-column: span 3;
      grid-column-start: span 3;
      -ms-grid-column-span: 3;
      grid-column-end: span 3;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
    }
    & .project__item:nth-child(6n-3), .project__item:nth-child(6n-2) {
      grid-column: auto / span 2;
    }
    & .project__item[data-grid="2"] {
      grid-column-start: span 2;
      -ms-grid-column-span: 2;
      grid-column-end: span 2;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
    }
  }
}

.projects__list[data-visible-list="false"] {
  & .project__item:nth-child(n + 9) {
    display: none;
  }
}

.projects__list[data-proj-list="express"][data-visible-list="false"] {
  & .project__item:nth-child(n + 5) {
    display: none;
  }
}

.project__wrap[data-grid="2"] {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

.filters__text {
  transition: color 0.3s ease, border-color 0.3s ease;
}

.filters__item {
  &:hover {
    & .filters__text {
      border-color: currentColor;
    }
  }

  &[data-state="enable"] {
    .filters__text {
      color: #000000;
      border-color: currentColor;// #0E4CD1;
    }
  }
}

@media (max-width: 767px) {
  .project__wrap[data-grid="1"] {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}