@media (min-width: 1441px) {
  .body--projects, .body--home {
    & .project__item:first-child .projects__title {
      font-size: 2rem;
      line-height: 1.25;
    }
  }
}

.project-sect[lazy-load="block"] {
  display: none;
  will-change: transform;
}

.project-sect[lazy-load="block"][state="enable"] {
  display: block;
}

.filters__item[state="enable"] {
  cursor: default;
  pointer-events: none;
}

.project__item {
  &[visible="false"] {
    display: none;
  }
}
