.view__image-right {
  cursor: url('/assets/images/express-arrow-right.svg'), pointer;
}

.view__image-left {
  cursor: url('/assets/images/express-arrow-left.svg'), pointer;
}

.view__image-right.swiper-button-disabled {
  cursor: url('https://uploads-ssl.webflow.com/5e81b2e4dad44dfcda3175d3/5eb2c2ff6830872bf1dd7930_1-dis.png'), pointer;
}

.view__image-left.swiper-button-disabled {
  cursor: url('https://uploads-ssl.webflow.com/5e81b2e4dad44dfcda3175d3/5eb2c2ff683087ba4add7933_2-dis.png'), pointer;
}

.view__controls {
  pointer-events: none;
}

.view__paginations {
  pointer-events: all;
}

.view__point:last-child {
  margin-right: 0;
}

.view__point {
  position: relative;
  animation-fill-mode: forwards;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 6.5rem;
    background: white;
    transform: translateX(-100%);
  }
}

.view__point--active {
  &:before {
    animation: pseudoMove 9s linear;
    animation-fill-mode: forwards;
  }
}

@keyframes pseudoMove {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .view__point {
    &:before {
      border-radius: 62.5rem;
    }
  }
}

.view__wrap {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.paused {
  &::before {
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    -o-animation-play-state: paused !important;
    animation-play-state: paused !important;
  }
}
